/**
  *
  * transition: property-name duration timing-function delay;
  * 
  */

.container {
  width: 80%;
  background: #f2f2f2;
  border: 1px solid #000;

  height: fit-content;
  padding: 2rem;
}

.transition {
  width: 150px;
  height: 50px;
  background-color: #000;
  color: #fff;

  display: inline-block;
  text-align: center;

  transition: transform 2s cubic-bezier(1, -0.03, 0.76, 1) 1500ms,
    background 300ms ease-in-out 1200ms, border-radius 500ms, height 700ms;
}

.container:hover .transition {
  transform: translate(600px);
  height: 25px;
  border-radius: 0 12.5px 12.5px 0;
  background: linear-gradient(45deg, #e65907, #b0750dbd);
}
