/**
  *
  * elements - block levels and inline levels
  * transformable - block levels
  * non transformable - inline levels
  *
 */

.wrapper {
  width: 150px;
  height: 150px;
  border: 1px dashed red;
  margin: 200px auto;
}

.inline {
  display: inline-block;
  transform: rotate(-5deg);
}
