.wrapper {
  width: 200px;
  height: 200px;
  border: 1px dashed red;
  margin: 200px auto;
}

.inner {
  width: 200px;
  height: 200px;
  border: 1px solid black;

  transform: scale(1.3) translate(10px, 10px) rotate(25deg);
}
